@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*& Daymode */
:root {


  --background: linear-gradient(
    145deg,
    rgba(0, 68, 146, 0.55) 0%,
    rgba(84, 5, 154, 0.55) 100%
  );
 
  --button-bg: #ccc;
  --button-hover: #046282;

}
/* &Dark-Light mode */
body.dark {
  /* --bg-image: url("https://cdn.pixabay.com/photo/2017/05/20/20/22/clouds-2329680_1280.jpg"); */

  --background: linear-gradient(
    145deg,
    rgba(87, 87, 87, 0.55) 0%,
    rgba(154, 117, 84, 0.493) 50%,
    rgba(161, 160, 162, 0.55) 100%
  );
 
  --button-bg: #444;
  --button-hover: #666;

}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}


html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  height: 100%;
  overflow: auto;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  height: 100vh;
  /* &Dark-Light mode */
  background-image: var(--bg-image);
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(25px);
  font-family: "Poppins", sans-serif;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
 
}
#nav-location i {
  margin-right: 5px;
  color: #fff;
 
}

.left-info {
  font-size: 18px;
  font-weight: 600;
}
.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.search-wrapper i {
  pointer-events: none;
  color: white;
 
}
.search-wrapper input {
  padding: 8px 35px 8px 12px;
  border-radius: 15px;
  border: none;
  background: #3c3c44;
  color: rgb(255, 255, 255);
  font-size: 14px;
  
}
.search-wrapper button {
  position: absolute;
  right: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.nav-actions .view-btn {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #444;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}
#theme_toggle {
  margin-left: 10px;
  padding: 5px;
  background-color: #444;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}
.nav-actions .view-btn:hover,
#theme_toggle:hover {
  background-color: #666;
  
}

#today-section,
#daily-section,
#hourly-section {
  scroll-margin-top: 80px;
}

/* &Dark-Light mode */
/* *>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

button,
#theme_toggle {
  background-color: #444;

}
.navbar,
.search-wrapper input,
.view-btn,
#theme_toggle,
.Future-forecast {
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* !>>>>>>>>>>>>> Today's forecast section >>>>>>>>>>>>>>>> */

.container {
  padding: 40px 50px;
  color: white;

}

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.date-container h1 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.date-container .time {
  font-size: 70px;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}
.date-container #am-pm {
  font-size: 30px;
  font-weight: 200;
  margin-left: 10px;
}
.date-container .date {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
.place-container {
  text-align: end;
}
.place-container .time-zone {
  font-size: 25px;
  font-weight: 100;
}
.place-container .country {
  font-size: 12px;
  font-weight: 300;
}

/* &>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.current-info .others {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px 0;
}

/* * make icon, temp, “Cloudy”, feels‑like align in one row */
.weather-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.weather-info .temp {
  font-size: 70px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}
.weather-info .weather-main,
.weather-info .feelslike {
  font-size: 20px;
  line-height: 1.2;
  margin-left: 40px;
  font-family: "Poppins", sans-serif;
}
.weather-description {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

/* ! today's other forcsat humidity, pressure,windspeed,sunrise,sunset */
.others {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.other-weather-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 74px;
  margin-top: 20px;
}
.weather-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  white-space: nowrap;

  background: linear-gradient(
    145deg,
    rgba(0, 68, 146, 0.55) 0%,
    rgba(84, 5, 154, 0.55) 100%
  );
  backdrop-filter: blur(5px);
  padding: 10px 18px 10px 18px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
}
/* *>>>>>>>>>>>>>>>>> */
/* !>>>>>>>>>>>>>>>>>> Daily forcast section >>>>>>>>>>>>>>>>> */

#daily-section {
  width: 100%;
  max-width: 1700px;
  padding: 24px 32px;
}

#daily-section .daily-section-heading {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}
.Future-forecast {
  padding: 25px;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.Future-forecast .today {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  background: linear-gradient(
    145deg,
    rgba(0, 78, 146, 0.55) 0%,
    rgba(48, 0, 110, 0.55) 100%
  );
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 15px;
  margin: 0 10px;
}

.Future-forecast .today .today-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Future-forecast .today .today-item .day {
  padding: 5px 15px;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.Future-forecast .today .today-item .weather_description {

  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.Future-forecast .today .today-item .temp {
  
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.Future-forecast .today .today-item .feelslike {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

/* ^>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.Future-forecast,
.weather-forecast {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}
.weather-forecast {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  scroll-snap-type: x mandatory;
}

.weather-forecast-item {
  flex: 0 0 auto;
  scroll-snap-align: center;
}

.weather-forecast .weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  margin: 0 10px;
  background: linear-gradient(
    145deg,
    rgba(0, 78, 146, 0.55) 0%,
    rgba(48, 0, 110, 0.55) 100%
  );
  
  backdrop-filter: blur(5px);
  border: #ccc solid 1px;
}

/* !>>>>>>>>>>>>>>>> five days foracast >>>>>>>>>>>>>>>>*/
.weather-forecast .weather-forecast-item .day {
  padding: 5px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border-radius: 50px;
  text-align: center;
}
.weather-forecast .weather-forecast-item .weather_description {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.weather-forecast .weather-forecast-item .temp {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.weather-forecast .weather-forecast-item .feelslike {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

/* !>>>>>>>>>>>>>>>>>>>>> Hourly forcast >>>>>>>>>>>>>>>>>> */
#hourly-forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  padding: 10px 0;

}
#hourly-section .hourly-forecast-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
  margin-bottom: 80px;
}

 .hourly-forecast-section .hourly-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 44px;
  font-size: 20px;
  gap: 38px;
  width: 1020px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
  margin: 0 auto 40px auto;
  background: linear-gradient(
    145deg,
    rgba(0, 78, 146, 0.55) 0%,
    rgba(48, 0, 110, 0.55) 100%
  );
 
  backdrop-filter: blur(10px);
  border-radius: 15px;
}
.hourly-w-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

/* ! >>>>>>>>>>>>>>>>>>>>>>>>>> media quary >>>>>>>>>>>>>>>>>>> */
@media (min-width: 344px) and (max-width: 490px) {
  html {
    scroll-behavior: smooth;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 12px;
    padding: 12px;
  }
  .nav-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .search-wrapper {
    width: 100%;
    order: 2;
    margin-top: 6px;
  }
  .search-wrapper input {
    width: 100%;
  }
  .left-info {
    font-size: 16px;
  }
  /* !>>>>>>>>>>>> today forecast >>>>>>>>>>>>>>>>> */
  .container {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .current-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .date-container {
    flex: 1;
  }
  .date-container h1 {
    font-size: 15px;
    font-weight: 300;
  }
  .date-container .time {
    font-size: 28px;
  }
  .date-container #am-pm {
    font-size: 15px;
  }
  .date-container .date {
    font-size: 15px;
  }
  .current-info .others {
    display: flex;
    flex-direction: column;
    padding: 8px;
  }
  .weather-info {
    margin-bottom: 5px;
    gap: 8px;
  }
  .weather-info .temp {
    font-size: 40px;
  }
  .weather-info .feelslike {
    font-size: 10px;
    margin-left: 5px;
  }
  .weather-info .weather-main {
    font-size: 10px;
    margin-left: 5px;
  }
  .weather-description {
    margin-top: 0px;
    font-size: 18px;
  }
  /* !>>>>>>> Humidity, pressure, windspeed...... */
  .other-weather-items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 100vw;
    max-width: 100%;
    padding: 0 10px 6px;
    box-sizing: border-box;
    gap: 12px;
    white-space: nowrap;
    margin: 0; /* kill leftover side-margins        */
    -webkit-overflow-scrolling: touch; /* smooth inertial scroll on iOS   */
  }
  .weather-items {
    flex: 0 0 110px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    display: inline-block;
    width: 100%;
    flex-shrink: 0;
    padding: 13px;

  }
  .other-weather-items::-webkit-scrollbar {
    display: none;
  }
  /* !>>>>>>>>>>>>>> logtitude latitude >>>>>>>>>>>>>>*/
  .place-container {
    display: none;
  }


  /* !>>>>>>>>>>>>>>>>>>  daily forcast >>>>>>>>>>>>>>>>>> */

  /** five-day forecast becomes scrollable */
  #daily-section {
    width: 100%;
    max-width: 100%;
    padding: 24px 10px;
  }
  .Future-forecast {
    justify-content: flex-start;
    gap: 0;
    padding-left: 10px;
    padding: 0 1px 6px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    box-sizing: border-box;
    margin: 0;
    -webkit-overflow-scrolling: touch;
  }

  .Future-forecast::-webkit-scrollbar {
    display: none;
  }
  .Future-forecast .today {
    flex: 0 0 185px;
    padding: 10px;

  }
  .Future-forecast .today .today-item {
    flex: 0 0 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 195px;
    padding: 8px;
  }
  .Future-forecast .today .today-item .weather_description,
  .Future-forecast .today .today-item .temp,
  .Future-forecast .today .today-item .feelslike {
    font-size: 20px;
  }
  .weather-forecast {

    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    flex: 0 0 auto;
  }
  .weather-forecast-item {
    flex: 0 0 auto;
    width: 185px;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
  }
  .weather-forecast .weather-forecast-item .temp,
  .weather-forecast .weather-forecast-item .feelslike,
  .weather-forecast .weather-forecast-item .weather_description {
    font-size: 20px;
  }
  /* ! Hourly forecast */
  
  .hourly-forecast-section .hourly-item {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 10px;
    max-width: 360px;
    width: 100vw;
    margin: 0 24px 24px;
    padding: 15px 8px;
  }
  .hourly-w-icon {
    width: 35px;
    height: 35px;
  }
}

/* *>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: 500px) and (max-width: 767px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 12px;
    padding: 12px;
  }
  .nav-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .search-wrapper {
    width: 100%;
    order: 2;
    margin-top: 6px;
  }
  .search-wrapper input {
    width: 100%;
  }
  .left-info {
    font-size: 16px;
  }
  /* !>>>>>>>>>>>> today forecast >>>>>>>>>>>>>>>>> */
  .container {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .current-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .date-container {
    flex: 1;
  }
  .date-container h1 {
    font-size: 25px;
    font-weight: 300;
  }
  .date-container .time {
    font-size: 48px;
  }
  .date-container #am-pm {
    font-size: 28px;
  }
  .date-container .date {
    font-size: 25px;
  }
  .current-info .others {
    display: flex;
    flex-direction: column;
    padding: 8px;
  }
  .weather-info {
    margin-bottom: 5px;
  }
  .weather-info .temp {
    font-size: 58px;
  }
  .weather-info .feelslike {
    font-size: 15px;
    margin-left: 10px;
  }
  .weather-info .weather-main {
    font-size: 15px;
    margin-left: 10px;
  }
  .weather-description {
    margin-top: 0px;
    font-size: 20px;
  }
  /* !>>>>>>>>>>>>>> logtitude latitude >>>>>>>>>>>>>>*/

  .place-container {
    display: none;
  }

  /* !>>>>>>> Humidity, pressure, windspeed...... */
  .other-weather-items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 100vw;
    max-width: 515px;
    padding: 0 12px 6px;
    box-sizing: border-box;
    gap: 12px;
    white-space: nowrap;
    margin: 0;
    -webkit-overflow-scrolling: touch; 
  }
  .weather-items {
    flex: 0 0 110px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    display: inline-block;
    width: 100%;
    flex-shrink: 0;
    padding: 20px;
 
  }
  .other-weather-items::-webkit-scrollbar {
    display: none;
  }

  /* !>>>>>>>>>>>>>>>>>>  daily forcast >>>>>>>>>>>>>>>>>> */
  /** five-day forecast becomes scrollable */
  #daily-section {
    width: 100%;
    max-width: 100%;
    padding: 24px 20px;
  }
  .Future-forecast {
    justify-content: flex-start;
    gap: 0;
    padding-left: 10px;
    padding: 0 1px 6px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    box-sizing: border-box;
    margin: 0;
    -webkit-overflow-scrolling: touch;
  }

  .Future-forecast::-webkit-scrollbar {
    display: none;
  }
  .Future-forecast .today {
    flex: 0 0 185px;
    padding: 10px;
  }
  .Future-forecast .today .today-item {
    flex: 0 0 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 195px;
    padding: 8px;
  }
  .Future-forecast .today .today-item .weather_description,
  .Future-forecast .today .today-item .temp,
  .Future-forecast .today .today-item .feelslike {
    font-size: 20px;
  }
  .weather-forecast {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    flex: 0 0 auto;
  }
  .weather-forecast-item {
    flex: 0 0 auto;
    width: 185px;
    padding: 8px;
    text-align: center;
  }
  .weather-forecast .weather-forecast-item .temp,
  .weather-forecast .weather-forecast-item .feelslike,
  .weather-forecast .weather-forecast-item .weather_description {
    font-size: 20px;
  }
  /* !>>>>>>>>>>>>>> Hourly forecast >>>>>>>>>>>*/
  .hourly-forecast-section .hourly-item {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    max-width: 410px;
    width: 100%;
    margin: 10px 60px 24px;
    padding: 15px 10px;
  }
  .hourly-w-icon {
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 768px) and (max-width: 819px){
  /* !>>>>>>>>>>>> today forecast >>>>>>>>>>>>>>>>> */
  .container {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .current-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .date-container {
    flex: 1;
  }
  .date-container h1 {
    font-size: 28px;
    font-weight: 300;
  }
  .date-container .time {
    font-size: 70px;
  }
  .date-container #am-pm {
    font-size: 35px;
  }
  .date-container .date {
    font-size: 30px;
  }
  .current-info .others {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .weather-info {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .weather-info .temp {
    font-size: 78px;
  }
  .weather-info .feelslike {
    font-size: 20px;
    margin-left: 15px;
  }
  .weather-info .weather-main {
    font-size: 20px;
    margin-left: 15px;
  }
  .weather-description {
    margin-top: 0px;
    font-size: 30px;
  }
  /* !>>>>>>>>>>>>>> logtitude latitude >>>>>>>>>>>>>>*/

  .place-container {
    display: none;
  }

  /* !>>>>>>> Humidity, pressure, windspeed...... */

.other-weather-items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 100vw;
    max-width: 720px;
    padding: 0 12px 6px;
    box-sizing: border-box;
    gap: 12px;
    white-space: nowrap;
    margin: 0; 
    -webkit-overflow-scrolling: touch; 
  }
  .weather-items {
    flex: 0 0 110px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    display: inline-block;
    width: 100%;
    flex-shrink: 0;
    padding: 20px;
  
  }
  .other-weather-items::-webkit-scrollbar {
    display: none;
  }

  /* !>>>>>>>>>>>>>>>>>>  daily forcast >>>>>>>>>>>>>>>>>> */
  /** five-day forecast becomes scrollable */
  #daily-section {
    width: 100%;
    max-width: 100%;
    padding: 24px 24px;
  }
  .Future-forecast {
    justify-content: flex-start;
    gap: 0;
    padding-left: 10px;
    padding: 0 1px 6px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    box-sizing: border-box;
    margin: 0;
    -webkit-overflow-scrolling: touch;
  }

  .Future-forecast::-webkit-scrollbar {
    display: none;
  }
  .Future-forecast .today {
    flex: 0 0 185px;
    padding: 10px;
  }
  .Future-forecast .today .today-item {
    flex: 0 0 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 195px;
    padding: 8px;
  }
  .Future-forecast .today .today-item .weather_description,
  .Future-forecast .today .today-item .temp,
  .Future-forecast .today .today-item .feelslike {
    font-size: 20px;
  }
  .weather-forecast {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    flex: 0 0 auto;
  }
  .weather-forecast-item {
    flex: 0 0 auto;
    width: 185px;
    padding: 8px;
    text-align: center;
  }
  .weather-forecast .weather-forecast-item .temp,
  .weather-forecast .weather-forecast-item .feelslike,
  .weather-forecast .weather-forecast-item .weather_description {
    font-size: 20px;
  }

/* !>>>>>>>>>>>>>> Hourly forecast >>>>>>>>>>>*/
  .hourly-forecast-section .hourly-item {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14px;
    font-size: 18px;
    max-width: 640px;
    width: 100%;
    margin: 10px 60px 24px;
    padding: 15px 10px;
  }
  .hourly-w-icon {
    width: 50px;
    height: 50px;
  }
}
/* * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: 820px) and (max-width: 1023px){
  /* !>>>>>>>>>>>> today forecast >>>>>>>>>>>>>>>>> */
  .container {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .current-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .date-container {
    flex: 1;
  }
  .date-container h1 {
    font-size: 30px;
    font-weight: 300;
  }
  .date-container .time {
    font-size: 80px;
  }
  .date-container #am-pm {
    font-size: 40px;
  }
  .date-container .date {
    font-size: 35px;
  }
  .current-info .others {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .weather-info {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .weather-info .temp {
    font-size: 90px;
  }
  .weather-info .feelslike {
    font-size: 25px;
    margin-left: 23px;
  }
  .weather-info .weather-main {
    font-size: 25px;
    margin-left: 23px;
  }
  .weather-description {
    margin-top: 0px;
    font-size: 35px;
  }
    /* !>>>>>>>>>>>>>> logtitude latitude >>>>>>>>>>>>>>*/

  .place-container {
    display: none;
  }

  /* !>>>>>>> Humidity, pressure, windspeed...... */

.other-weather-items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 100vw;
    max-width: 100%;
    padding: 0 12px 6px;
    box-sizing: border-box;
    gap: 30px;
    white-space: nowrap;
    margin: 0; 
    -webkit-overflow-scrolling: touch; 
  }
  .weather-items {
    display: flex;
    flex: 0 0 110px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    display: inline-block;
    width: 100%;
    flex-shrink: 0;
    padding: 20px;
  }
  .other-weather-items::-webkit-scrollbar {
    display: none;
  }
/* !>>>>>>>>>>>>>>>>>>  daily forcast >>>>>>>>>>>>>>>>>> */
  /** five-day forecast becomes scrollable */
  #daily-section {
    width: 100%;
    max-width: 100%;
    padding: 24px 24px;
  }
  #daily-section .daily-section-heading{
    font-size: 50px;
  }
  .Future-forecast {
    justify-content: flex-start;
    gap: 0;
    padding-left: 10px;
    padding: 0 1px 6px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    box-sizing: border-box;
    margin: 0;
    -webkit-overflow-scrolling: touch;
  }

  .Future-forecast::-webkit-scrollbar {
    display: none;
  }
  .Future-forecast .today {
    flex: 0 0 185px;
    padding: 10px;
  }
  .Future-forecast .today .today-item {
    flex: 0 0 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 195px;
    padding: 8px;
  }
  .Future-forecast .today .today-item .weather_description,
  .Future-forecast .today .today-item .temp,
  .Future-forecast .today .today-item .feelslike {
    font-size: 20px;
  }
  .weather-forecast {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    flex: 0 0 auto;
  }
  .weather-forecast-item {
    flex: 0 0 auto;
    width: 185px;
    padding: 8px;
    text-align: center;
  }
  .weather-forecast .weather-forecast-item .temp,
  .weather-forecast .weather-forecast-item .feelslike,
  .weather-forecast .weather-forecast-item .weather_description {
    font-size: 20px;
  }

  /* !>>>>>>>>>>>>>> Hourly forecast >>>>>>>>>>>*/
  #hourly-section .hourly-forecast-heading{
    font-size: 50px;
  }
  .hourly-forecast-section .hourly-item {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    max-width: 715px;
    width: 100%;
    margin: 10px 60px 24px;
    padding: 15px 10px;
  }
  .hourly-w-icon {
    width: 50px;
    height: 50px;
  }

}

/* * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: 1024px) and (max-width: 1279px){
  /* !>>>>>>>>>>>> today forecast >>>>>>>>>>>>>>>>> */
  .container {
    padding: 20px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .current-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .date-container {
    flex: 1;
  }
  .date-container h1 {
    font-size: 15px;
    font-weight: 300;
  }
  .date-container .time {
    font-size: 50px;
    font-weight: 200;
  }
  .date-container #am-pm {
    font-size: 25px;
    font-weight: 200;
  }
  .date-container .date {
    font-size: 20px;
  }
  .current-info .others {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .weather-info {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .weather-info .temp {
    font-size: 60px;
  }
  .weather-info .feelslike {
    font-size: 18px;
    margin-left: 23px;
  }
  .weather-info .weather-main {
    font-size: 18px;
    margin-left: 23px;
  }
  .weather-description {
    margin-top: 0px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  /* !>>>>>>>>>>>>>> logtitude latitude >>>>>>>>>>>>>>*/


  .place-container .time-zone {
    font-size: 15px;
    font-weight: 100;
  }
  .place-container .country {
    font-size: 5px;
    font-weight: 300;
  }
  /* !>>>>>>> Humidity, pressure, windspeed...... */

.other-weather-items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    max-width: 100%;
    padding: 0 12px 6px;
    box-sizing: border-box;
    gap: 15px;
    white-space: nowrap;
    margin: 0; 
    -webkit-overflow-scrolling: touch; 
  }
  .weather-items {
    display: flex;
    flex: 0 0 110px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    display: inline-block;
    width: 100%;
    flex-shrink: 0;
    padding: 10px 18px 10px 18px;
   
  }
  .other-weather-items::-webkit-scrollbar {
    display: none;
  }

  /* !>>>>>>>>>>>>>>>>>>  daily forcast >>>>>>>>>>>>>>>>>> */
  /** five-day forecast becomes scrollable */
  #daily-section {
    width: 100%;
    max-width: 100%;
    padding: 24px 24px;
  }
  #daily-section .daily-section-heading{
    font-size: 60px;
    margin-bottom: 50px;
  }
  .Future-forecast {
    justify-content: flex-start;
    gap: 0;
    padding-left: 10px;
    padding: 0 1px 6px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    box-sizing: border-box;
    margin: 0;
    -webkit-overflow-scrolling: touch;
  }

  .Future-forecast::-webkit-scrollbar {
    display: none;
  }
  .Future-forecast .today {
    flex: 0 0 185px;
    padding: 10px;
  }
  .Future-forecast .today .today-item {
    flex: 0 0 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 195px;
    padding: 8px;
  }
  .Future-forecast .today .today-item .weather_description,
  .Future-forecast .today .today-item .temp,
  .Future-forecast .today .today-item .feelslike {
    font-size: 20px;
  }
  .weather-forecast {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    flex: 0 0 auto;
  }
  .weather-forecast-item {
    flex: 0 0 auto;
    width: 185px;
    padding: 8px;
    text-align: center;
  }
  .weather-forecast .weather-forecast-item .temp,
  .weather-forecast .weather-forecast-item .feelslike,
  .weather-forecast .weather-forecast-item .weather_description {
    font-size: 20px;
  }

  /* !>>>>>>>>>>>>>> Hourly forecast >>>>>>>>>>>*/
  #hourly-section .hourly-forecast-heading{
    font-size: 60px;
  }
  .hourly-forecast-section .hourly-item {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    max-width: 900px;
    width: 100%;
    margin: 10px 60px 24px 60px;
    padding: 15px 10px;
  }

}